


/* Estilo personalizado para el botón "Ingresar al Proyecto" */
.btn-proyecto {
    background-color: red; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como botón */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-proyecto:hover {
    background-color: white; /* Color de fondo al pasar el mouse */
}